<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Recipes">
    <uses-permission android:name="Android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="Android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.Recipes.screens.Note.Main_note"
            android:label="@string/title_activity_main_note"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.Recipes.screens.Favorite" />

        <activity android:name="com.example.Recipes.screens.Fridg" />
        <activity android:name="com.example.Recipes.screens.Recipes" />
        <activity android:name="com.example.Recipes.screens.OwnRecipes.Add_Form_Recipes" />
        <activity android:name="com.example.Recipes.model_Adding_Recipes.Own_Recipes" />
        <activity android:name="com.example.Recipes.screens.OwnRecipes.AddRecipes" />
        <activity android:name="com.example.Recipes.screens.search" />
        <activity android:name="com.example.Recipes.screens.OwnRecipes.RecipesView" />

        <activity android:name="com.example.Recipes.screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Recipes.screens.home" />
        <activity android:name=".screens.details_note.NoteDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>